body {
  font-family: 'Obelix Pro', sans-serif;
}

.vnav {
  letter-spacing: 2px;
}

.marginb{
  margin-bottom: 45px; 
}
.navbar-brand {
  font-family: 'Pacifico', cursive;
}

/* not use
.vixnivbar {
  padding-left: 30px;
}
.navbar-right {
  padding-left: 30px;
  padding-right: 30px;
}
*/

/*header*/

.header1 {
  background-image: url("https://i.postimg.cc/3xZgtZ3R/yokai.jpg");
  color: #ffffff;
  image-height: 100%;
}


.container-fluid {
      padding-top: 100px;
      padding-bottom: 100px;
  }

.h3v {
  font-size: 50px;
  letter-spacing: 7px;
}

.h3v2 {
  font-size: 25px;
  letter-spacing: 4px;
}

.h3v3 {
  font-size: 15px;
  letter-spacing: 3px;
}

.h4v {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 1.8;
}

.pimg {
  width: 250px;
  height: auto;
}

.fav {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  color: #525252;
  text-decoration: none;
}

.footer {
  padding: 30px 0 30px 0;
  background-color: #f8f8f8;
  border-top: solid 1px #e7e7e7;
}

a.cap2 {
  text-decoration: none;
}

.fa:hover {
opacity: 0.7;
}

.thumbnail:hover {
  box-shadow: 1px 1px 9px grey;
}